.root {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 1rem;
   font-family: var(--font-family) !important; font-weight: var(--font_weight_m) !important;
    text-align: center;
}

.categories {
    margin-top: 10px;
}

.list {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.list a{
    text-decoration: unset;
    color: var(--black-color);
   font-family: var(--font-family) !important; font-weight: var(--font_weight_m) !important;
}

.listItem {
    text-align: center;
}

.listItem:not(:last-child) {
    margin-bottom: 0.5rem;
}

.imageContainer {
    margin-bottom: 2rem;
}

.image {
    height: 200px;
    width: 200px;
    max-width: 200px;
}

@media (max-width: 991px) {

.image {
    height: 100px;
    width: 100px;
    max-width: 100px;
}
}