.root {
    align-items: center;
    border-radius: 3px;
    display: inline-grid;
    gap: 0.5rem;
    grid-auto-flow: column;
    justify-content: center;
    padding: 0.5rem;
}
.root span {
    color: var(--white-color);
    font-family: var(--font-family); font-weight: var(--font_weight_l);
}
span.root button {
    text-indent: -9999px;
}
