.root {
    display: grid;
    border-bottom: 1px dashed var(--border-color);

}
.root:last-child{border-bottom: 0px;}
.item {
    align-items: flex-start;
    display: grid;
    grid-template-areas: 'image details kebab';
    grid-template-columns: 100px 1fr auto;
    padding-bottom: 10px;
}
.item:last-child{border-bottom: 0px !important;}
.product_modal button {
    margin-bottom: 0;
}
.gift_wrap_btn > span{
    width: 100%;
}
.gift_wrap_btn{
    display: flex;
    align-items: center;
}
.root_disabled {
    composes: root;
    opacity: 0.5;
}
.checkout_modal [class='undefined modal-header'] svg{
 max-width: 20px;
 stroke-width: 1.2;
}
.errorText {
    color: var(--error-color);
    line-height: var(--venia-global-lineHeight-300);
}

.errorText:empty {
    display: none;
}

.imageContainer {
    grid-area: image;
}

.item > .imageContainer { aspect-ratio:  1 / 1;  }
.item > .imageContainer  .imageRoot { width: 100%; height: 100%; }
.item > .imageContainer  .imageRoot img { width: 100%; height: 100%; object-fit: cover; }

.imageRoot {
    height: 100%;
}

.image {
    background-color: var(--white-color);
    border: solid 1px var(--border-color);
    border-radius: 3px;
    height: 100%;
    object-fit: contain;
    object-position: center;
    width: 100%;
}

.details {
    display: grid;
    gap: 0.5rem;
    grid-area: details;
    grid-template-areas:
        'name name'
        'options quantity'
        'price quantity'
        'stock quantity';
    grid-template-columns: 1.5fr 1fr;
    line-height: 1.5;
}

.details_inner {}

.name,
.name:hover {
    grid-area: name;
    font-family: var(--font-family) !important; font-weight: var(--font_weight_l) !important;
    color: var(--primary-dark-colo);
    font-size: 13px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 1px;
   font-family: var(--font-family) !important; font-weight: var(--font_weight_m) !important;
}

.price {
    grid-area: price;
    font-size: 0.875rem;
    letter-spacing: 1px;
    font-size: 12px;
}

.quantity {

}

.kebab {
    grid-area: kebab;
    position: relative;
}

.sectionText {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    pointer-events: none;
}

.options {
    grid-area: options;
    font-size: 14px;
    display: grid;
    margin: 0;
}

.optionLabel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    letter-spacing: 1px;
    font-size: 12px;

}

.optionLabel dt {
    color: var(--ced-brown-text-color);
}

.stockStatusMessage {
    color: var(--error-color);
    font-size: var(--venia-global-fontSize-100);
    font-weight: var(--venia-global-fontWeight-semibold);
    grid-area: stock;
}

.stockStatusMessage:empty {
    display: none;
}

.gift_wripper_appiled_wrapper {
    display: flex !important;
    width: max-content;
    line-height: 26px;
}

.gift_wripper_appiled_tick {
    color: #00853d !important;
    font-weight: bold;
    padding-left: 8px;
}

.wishlist_button_icon svg {
}
.shop_btn_edit{    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;}
    .shop_btn_edit button svg{min-width: 20px; min-height: 20px; stroke-width: 1.2; stroke: var(--black-color);}
.wishlist_button_icon_red svg {
    fill: var(--theme-text-color);
    stroke: var(--theme-text-color) !important;
}
.shop_detail_title{display: flex; flex-direction: column; gap: 6px; min-width: 128px; max-width: 128px;}
.shop_details_sec{display: flex; justify-content: space-between; align-items: center; }
.shop_details dl{ display: flex; column-gap: 8px;}
.shop_details dl dd{line-height: 13px;}
.shop_details{padding-left: 10px;}
.shop_details dl div:first-child{padding-right: 8px; border-right: 1px solid var(--black-color);}
@media (max-width: 767px) {
    .shop_btn_edit{flex-direction: row !important; position: absolute; top: 0; right: 0;}
    .shop_details{position: relative;}
    .details {
        grid-template: none;
        overflow: hidden;
    }
    .shop_detail_title { min-width: unset; }



    .name,
    .options,
    .price,
    .stockStatusMessage,
    .quantity {
        grid-area: auto;
    }

    .name {
        width: calc(100% - 70px);
    }

    .quantity {
        justify-items: start;
    }
}
@media (max-width: 600px){
.shop_btn_edit{flex-direction: column;}
.item{align-items: flex-start; 
    grid-template-columns: 80px 1fr auto;

}
}
.popupbtn {
    margin-bottom: 10px;
}

.popupbtn span {
   font-family: var(--font-family) !important; font-weight: var(--font_weight_m) !important;
    font-size: 16px;
    letter-spacing: 1px !important;

}

.popupbtn span {
    display: inline-block;
    font-size: 12px;
    font-family: var(--font-family) !important; font-weight: var(--font_weight_l) !important;
    color: var(--black-color);
    letter-spacing: 2px;
    white-space: nowrap;
}

.popupbtn_icon {
    display: flex;
    align-items: center;
}

.popupbtn_icon img {
    width: 15px;
    height: auto;
    margin-inline: 3px 6px;
}
.giftwraper{
    padding-left: 10px;
}
.giftwraperMobile{
    display: none !important;
}
@media screen and (max-width: 1280px) {
    .details {
        grid-template-columns: 2fr 1fr;

    }
}

@media screen and (max-width: 768px) {
    .shop_details_sec{ justify-content: space-between; align-items: flex-start; padding: 6px 0px; gap: 8px;}
    .details {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 576px) {
    .details [class="product-popupbtn_icon-2gN"] {
        flex-wrap: wrap;
    }

    .gift_wripper_appiled_wrapper {
        width: 200px;
        flex-wrap: wrap;
    }

    .gift_wripper_appiled_wrapper b {
        word-break: break-all;
    }
}

.out_of_stock_product{
    position: relative;
}
.out_of_stock_product .item{
    -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.out_stock_btn{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.out_stock_btn svg{
    min-width: 30px;
    min-height: 30px;
    stroke-width: 1;
    stroke: var(--error-color);
}
@media (max-width: 500px){
.item {
    padding-bottom: 0px;
}
    .giftwraperMobile{
        display: flex !important;
    }
    .giftwraper{
        padding-left: 10px;
        display: none !important;
    }
}