.root {
    border-top: 1px solid var(--border-color);
    padding-top: 1rem ;
    width: 100%;
}

.content {
    display: grid;
    grid-auto-flow: column;
    gap: 0.375rem;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 14px;
    font-family: var(--font-family) !important; font-weight: var(--font_weight_l) !important;
    color: var(--black-color);
}

.arrowDown {
    composes: root from '../../Icon/icon.css';
        --stroke: var(--theme-color);
}

@media screen and (min-width: 220px) and (max-width: 767px) {
    .root {
        border-top: 0;
    }
}
