.root {
    border-bottom: 1px solid var(--ced-border-color);
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
}

.imageContainer {
    justify-self: center;
}

.image {
    padding: 0 2rem;
}

.productName {
    font-size: 18px;
    font-family: var(--font-family) !important; font-weight: var(--font_weight_l) !important;
    color: var(--ced-black-color);
}

.stockRow {
    display: flex;
    font-weight: 300;
    font-size: 0.875rem;
    justify-content: space-between;
}
.stockRow_status {
    color: var(--success-color);
    padding-left: 10px;
}
.price {
   font-family: var(--font-family) !important; font-weight: var(--font_weight_m) !important;
}
