.root {
    display: grid;
    grid-template-areas:
        'actions'
        'items';
    grid-template-columns: 1fr;
    line-height: 1;
    margin:0 0 15px 0;
}

.items {
    display: grid;
    grid-area: items;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 10px;
}

@media (max-width: 1440px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1024px) {
    .items {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 768px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* @media (max-width: 767px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
    }
} */
@media (max-width: 576px) {
    .items {
        grid-template-columns: repeat(1, 1fr);
    }
}
