.radioContents {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}

.radioRoot {
    /* We explicitly want one radio item per row. */
    composes: root from '../../../RadioGroup/radioGroup.css';
    grid-template-columns: auto;
}

.error_message {
    margin: 10px;
    color: var(--error-color);
}

.header {
    display: flex;
    align-items: center;
   font-family: var(--font-family) !important; font-weight: var(--font_weight_m) !important;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.coupon_code {
   font-family: var(--font-family) !important; font-weight: var(--font_weight_m) !important;
}

.coupon_code_modal_main_wrappper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    cursor: pointer;
}

/*
 * Mobile-specific styles.
 */
.couponCode_radio{
    padding: 10px;
}
@media (max-width: 640px) {
    .radio_contents {
        display: grid;
        grid-template-columns: 100%;
        gap: 0.5rem;
    }
}